<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="style_for_footer.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="bg-faded p-y-3 section">
    <div class="background-video-holder">
      <video class="background-video" autoplay="autoplay" loop="loop" src="https://player.vimeo.com/external/146997233.sd.mp4?s=574d7266828d51bdab14e4ce92d3596eb8d12939"></video>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="pi-draggable pi-item text-inverse">國立虎尾科大選課專區</h1>
          <p class="text-inverse"><b>本網頁像是維基百科，必須大家共同努力才能有將資料完整</b></p>
          <div class="m-y-2 m-y-lg row text-center">
            <div class="col-xs-4 text-left text-xs-center">
              <a><i class="fa fa-3x fa-facebook text-primary"></i></a>
            </div>
            <div class="col-md-NaN col-xs-4 text- text-xs-center">
              <a class="text-xs-left"><i class="fa fa-3x fa-twitter text-primary"></i></a>
            </div>

          </div>
        </div>
        <div class="col-md-6">
          <h1 class="pi-draggable pi-item text-inverse">About Hoster&nbsp;</h1>
          <p class="text-inverse"><b>Design&amp;program by theta</b>
            <br>Mail:gavin19950511@gmail.com
            <br>
            <br>
          </p>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>








</body>

</html>