<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="style_for_bar.css" rel="stylesheet" type="text/css">
</head>

<body>
  <nav class="bg-faded bg-info navbar navbar-full navbar-light" id="topbar">
    <a class="navbar-brand" href="#">國立虎尾科技大學選課專區</a>
    <ul class="nav navbar-nav pull-right">
      <li class="active m-a-0 nav-item p-a-0">
        <a class="nav-link" href="#">首頁<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">全校課堂資料</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">課堂評價</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">聯絡版主</a>
      </li>
    </ul>
  </nav>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>




</body>

</html>